@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

:root{
   --main-color:#fff;
   --sub-color: #20450f ;
   --white:#fff;
   --border:.1rem solid #355E3B;
}
@font-face {
    font-family: CasaCelerina;
    src: url(chapaza.ttf);
}

*{
   font-family: 'Montserrat', sans-serif;
   margin: 0; padding: 0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}


*::selection{
   background-color: var(--sub-color);
   color: var(--main-color);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--sub-color);
   border-radius: 5rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body{
    background-color: var(--main-color);
}
/* START HEADER */
section{
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    padding-bottom: 0;
    margin-top: .5px;
}

/* START AVAILABILITY BUTTON */
.btn{
    display: inline-block;
    cursor: pointer;
    padding: 1rem 3rem;
    border: var(--border);
    font-size: 1.8rem;
    color: var(--sub-color);
    text-align: center;
    text-transform: capitalize;
    transition: .2s linear;
    margin-top: 1rem;
    background-color: var(--main-color);
}

.btn:hover{
    background: var(--sub-color);
    color: var(--main-color);
}

.header .flex .btn{
    margin-top: 0;
}
/* END AVAILABILITY BUTTON */

.header .flex img{
    max-width: 200px; /* Ensure the image doesn't exceed the container's width */
    height: auto; 
    margin-bottom: 0;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.header .flex .logo{
    font-family: CasaCelerina;
    color: var(--sub-color);
    font-size: 3rem;
}


.header .flex .fa-bars{
    font-size: 3rem;
    cursor: pointer;
    color: var(--sub-color);
    display: none;
}

.header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    margin-top: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--sub-color);
}

.header .navbar a{
    color: var(--main-color);
    font-size: 1.8rem;
    padding: 1rem ;
    border-radius: .5rem;
}

.header .navbar a:hover{
    background-color: var(--main-color);
    color: var(--sub-color);
    transition: .2s linear;
}

/* END HEADER */

/* START HOME */

.home .box img{
    border-radius: .5rem;
    height: 60vh;
    width: 100%;
    object-fit: cover; 
}

.home .box .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap ;
    margin-top: 1.5rem ;
}

.home .box .flex h3{
    font-family: CasaCelerina;
    font-size: 2.5rem;
    color: var(--sub-color);
}

.swiper-button-next{
    right:0%;
}

.swiper-button-prev{
    left:0%;
}

.swiper-button-next, .swiper-button-prev{
    color: var(--sub-color);
    padding: 3rem 2rem;
    top: 45%;
    opacity: 50%;
    background-color: antiquewhite;
}

.swiper-button-next:hover , .swiper-button-prev:hover{
    color:var(--sub-color);
}

.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 3rem;
}
/* END HOME */

/* START AVAILABILITY */


.availability form .flex{
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.availability form .flex .box{
    flex: 1 1 15rem;
}

.availability form .flex .box p{
    font-size: 2rem;
    color: var(--sub-color);
    margin-bottom: 1rem;
    font-weight: bold;
}

.availability form .flex .box .input{
    width: 100%;
    padding: 1rem 0;
    font-size: 1.5rem;
    background-color: var(--border);
    color: var(--sub-color);
    border-bottom: var(--border);
    margin:  1rem 0;
}

.availability form .flex .box input[type="date"]::-webkit-calendar-picker-indicator{
    color: var(--sub-color);
}
/* END AVAILABILITY */


/*  START ABOUT */

.about .content .btn{
    background-color: var(--sub-color);
    color: var(--white);
    border-radius: 5rem;
}
.about .content .btn:hover{
    background-color: var(--main-color);
    color: var(--sub-color);
    border-radius: 5rem;
}

.about .row{
    display: flex;
    flex-wrap: wrap ;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
}

.about .row .image{
    flex: 1 1 40rem;
    object-fit: cover;
}

.about .row .image img{
    width: 40rem;
    border-radius: .5rem;
    object-fit: cover;
}

.about .row .content{
    flex: 1 1 40rem;
    color: var(--sub-color);
}

.about .row .content h3{
    font-family: CasaCelerina;
    font-size: 3rem;
    color: var(--sub-color);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.about .row  .content p{
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.7rem;
    color: var(--sub-color);
}

.about .row.revers{
    flex-flow: row-reverse;
    margin: 3rem 0;
    flex-wrap: wrap;

}


/*  END ABOUT */

/* START SERVICES */

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

.services .box-container .box{
    padding: 2rem;
    text-align: center;
}


.services .box-container .box img{
    height: 15rem;
    margin-bottom: 1rem;

}

.services .box-container img {
    size: 200px;
}

.services .box-container .box h3{
    font-family: CasaCelerina;
    color: var(--sub-color);
    font-size: 2.5rem;
    margin: 1rem 0;
}

.services .box-container .box p{
    line-height: 2;
    font-size: 1.6rem;
    color: var(--sub-color);
}

/* END SERVICES */



/* START RESERVATION */
.reservation form{
    border: var(--border);
    padding: 2rem;
}

.reservation form .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.reservation form h3{
    font-family: CasaCelerina;
    background-color: var(--sub-color) ;
    color: var(--main-color);
    font-size: 2.5rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    padding: 1.2rem;
    text-align: center;
}

.reservation form .flex .box{
    font-size: 1.8rem;
    color: var(--sub-color);
    font-weight: bold;
}

.reservation form .flex .box .input{
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: var(--border);
    background-color: var(--main-color);
    color: var(--sub-color);
    font-size: 1.8rem ;
    width: 100%;
}

.reservation form .flex .box{
    flex: 1 1 40rem;
    font-size: 1.8rem ;
    padding: 1rem 0;
    margin: 1rem 0;
}

.reservation .btn{
    border-radius: 5rem;
    text-align: center;
    align-items: center;
}
/* END RESERVATION */


/* START GALERY */
.gallery img{
 height: 60rem;
 width: 80rem;
 border-radius: .5rem;
 object-fit: cover;
 margin-bottom: 4rem;
 user-select: none;
}

.swiper-pagination-bullet{
    background-color: var(--sub-color);
}
/* END GALERY */



/* START CONTACT */

.contact .row{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
}

.contact .row form{
    flex: 1 1 40rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
}

.contact .row .faq{
    flex: 1 1 40rem;
}


.contact .row form h3{
    margin-bottom: 1rem;
    border-radius: .5rem;
    padding: 1.2rem;
color: var(--main-color);
    font-size: 2rem;
    background-color: var(--sub-color);
}

.contact .row form .box{
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: var(--border);
    font-size: 1.8rem;
    color: var(--sub-color);
    background-color: var(--main-color);
    width: 100%;
}

.contact .row form .box::placeholder{
    color:#355E3B;
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.contact .row form .btn{
    border-radius: 5rem;   
}
/* END CONTACT */

/* START FAQS */
.contact .row .faq .title{
    font-family: CasaCelerina;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: var(--sub-color);
    text-align: center;  
}


.contact .row .faq .box{
    border-radius: .5rem;
    border: var(--border);
    margin-top: 2rem;
}

.contact .row .faq .box h3{
    background-color: var(--sub-color);
    color: var(--main-color);
    border-radius: .5rem; 
    padding: 1.5rem;
    font-size: 1.8rem;
    cursor: pointer;
}

.contact .row .faq .box p{
    padding: 1.5rem 2rem;
    line-height: 1.5 ;
    font-size: 1.5rem;
    color: var(--sub-color);
    display: none ;
}


.contact .row .faq .box.active p{
    display: inline-block;
}
/* END FAQS */

/* START REVIEWS */
.reviews{
    padding-top: 0;
}
.reviews .box{
    text-align: center;
    user-select: none;
    padding: 2rem;
    margin-bottom: 4rem;
}

.reviews .box img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.reviews .box h3{
    margin: 1.5rem 0;
    font-size: 2rem;
    color: var(--sub-color);
}
.reviews .box p{
    line-height: 2;
    font-size: 1.7rem;
    color: var(--sub-color); 
}

/* END REVIEWS */

/* start FOOTER  */
.footer{
    background-color: var(--sub-color);
    max-width: inherit;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 2rem;
}

.footer .box-container .box a{
display: block;
font-size: 1.5rem;
color: var(--main-color);
padding: 1rem 0;
}


.footer .box-container .box:first-child i{
    margin-right: 1.7rem;
}

.footer .box-container .box:nth-child(2){
    text-align: center;
}

.footer .box-container .box:last-child{
    text-align: right;
}

.footer .box-container .box:last-child i{
    margin-left: 1.7rem;
}

.footer .credit{
    color: var(--main-color);
}

/* end FOOTER  */



/* media queries */

@media (max-width:991px){

    html{
        font-size:55% ;
    }

    .header .flex .fa-bars{
        display: inline-block;
    }

    .header .flex .btn{
        display: none;
    }

    /* SIDEBAR NAVIGATION */

    .header .navbar{
        flex-flow: column;
        padding: 2rem;
        display: none;
    }

    .header .navbar.active{
        display: flex;
    }

/* ediITTTTTTTTTTTTTTTTTTT */
    .home .box img{
        height: 60rem;
        object-fit:fill; 
        margin-top: 0px;
     }

    .section .home{
        margin-top: 0 auto;
     }

}

@media (max-width:768px){
    .header .flex img{
        max-width: 200px;
        height: auto; 
    }

    .home .box{
        margin-top: 0px;
    }
/* ediTTTTTTTTTTTTTTTTTTTTTTTTTTT */
    .home .box img{
        height: 35rem;
        object-fit: cover; 
     }

     .swiper-button-next, .swiper-button-prev{
        top: 35%;
     }
}

@media (max-width:450px){

    html{
        font-size:50% ;
    }

    .header .flex img{
        max-width: 150px; /* Ensure the image doesn't exceed the container's width */
        height: auto; 
    }

    .home .box img{
        height: 25rem;
        object-fit: cover; 
     }

     .about .row .image img{
        width: 100%;
     }
}